.entry-content .wp-catalogue-breadcrumb > b {
    font-family: Consolas,Monaco,Lucida Console,monospace;
    font-size: 0.857143rem;
    font-weight: normal;
    line-height: 2px;
}
#wpc-catalogue-wrapper {
    float: left;
    height: auto;
    overflow: hidden;
    width: 100%;
}
#wpc-catalogue-wrapper h4 {
    font-size:20px;
    color:#999999;
    font-weight:normal;
    margin-bottom: 20px;
}
#wpc-col-1 {
    width:219px;
    float:left;
    margin: 0 28px 0 0;
    line-height: inherit;
}
#wpc-col-1 ul {
    margin:0;
    padding:0;
    list-style:none;
    line-height: inherit;
}
#wpc-col-1 ul li {
    list-style:none;
    padding: 0;
    margin: 0;
    background: url(images/cat-sprtr.gif) repeat-x left bottom;
    position: relative;
}
#wpc-col-1 ul li:last-child {
    background: none;
}
#wpc-col-1 ul li a {
    display:block;
    color:#3d484e;
    font-size:18px;
    text-decoration:none;
    padding:10px 30px 10px 21px;
    background: url(images/sidebar-sprtr.gif) repeat-y 218px 0;
    text-transform: capitalize;
}
#wpc-col-1 ul li a:hover, #wpc-col-1 ul li.active-wpc-cat a {
    border-right:none;
    background:#090 no-repeat left top;
    color:#ffffff;
}
#wpc-col-2 {
    width: 74%;
    float:right;
}
.wpc-product {
    border-bottom: #C7C7C7 1px solid;
    float: left;
    margin: 0 15px 27px 0;
    width:31.2%;
}
.wpc-img {
    border: 5px solid #dcdbdb;
    margin-bottom: 10px;
    background: #dcdbdb;
    font-size: 0;
}
.wpc-next-prev {
}
.wpc-next-prev a[rel="next"] {
    float:right;
}
.wpc-img:hover {
    border: 5px solid #15845e;
}
.wpc-img img {
    border-radius:0;
    box-shadow: none;
}
.wpc-title {
    color: #15845e;
    padding: 0 5px 14px 0;
    line-height: inherit !important;
    margin: 0 !important;
    width:100%;
}
.wpc-title a {
    font-size: 14px;
    color: #333333;
    text-decoration:none;
    display:block;
    background: url(images/arrow.png) no-repeat right 5px;
    line-height:18px;
}
.wpc-title a:hover {
    color: #15845e;
    background-position: right -88px;
}
.wpc-title span {
    float:right;
}
.wpc-paginations {
    clear:both;
    padding:0 0 0 7px;
}
.product-price {
    float:right;
}
.wpc-paginations a {
    display:block;
    width:30px;
    height:30px;
    background:url(images/pagination-bg.gif) repeat-x top;
    float:left;
    text-align:center;
    line-height:30px;
    color:#FFF;
    text-decoration:none;
    margin:0 2px;
}
.wpc-paginations a:hover, .wpc-paginations .active-wpc-page {
    background-position:bottom;
    color:#FFF;
}
.product-img-view {
    float:left;
    border:#dcdbdb 5px solid;
    margin:0 14px 0 0;
    overflow: hidden;
    margin-right: 30px;
}
.wpc-product-img {
    width:161px;
    float: right;
    padding-top: 35px;
    padding-bottom: 35px;
    position: relative;
}
.wpc-product-img img.cycle-slide {
    cursor: pointer;
}
.new-prdct-img {
    border:#dcdbdb 5px solid;
    margin-bottom:8px;
    font-size: 0;
    line-height: 0;
}
.new-prdct-img img {
    cursor: pointer;
}
#wpc-product-gallery {
    padding: 0 0 20px;
}
.clear {
    clear: both;
    line-height: 0;
    font-size: 0;
}
.wp-catalogue-breadcrumb {
    margin:20px 0;
}
.entry-content {
    line-height: inherit !important;
}
.wp-catalogue-breadcrumb {
    padding: 0 0 20px;
}
#wpc-col-1 ul.children li {
}
#wpc-col-1 ul.children li a {
    font-size: 17px !important;
    padding-left: 34px !important;
}
.entry-content ul li:before {
    content:  none !important;
    padding-right: 0.5em;
}
.cycle-prev {
    position: absolute;
    top: 0px;
    left: 50%;
    margin-left: -21px;
    text-indent: 9000px;
    background:url(images/up-arrow.png) no-repeat top;
    display: block;
    width: 30px;
    height: 30px;
}
.cycle-next {
    position: absolute;
    left: 50%;
    margin-left: -21px;
    text-indent: 9000px;
    background:url(images/down-arrow.png) no-repeat top;
    display: block;
    width: 30px;
    height: 30px;
}
.wpc-paginations a.wpc-pagination-prev {
    width: 58px;
    padding: 0 10px;
}
.wpc-paginations a.wpc-pagination-next {
    width: 38px;
    padding: 0 10px;
}
#cycle-2 img.wpc-thumb-image {
    border: 3px solid #ccc !important;
    margin-bottom:5px !important;
}
#cycle-2 {
    height: 331px !important;
}
.wpc-thumb-reel {
    width: 150px;
    height: 100px;
    overflow: hidden;
    display: block;
    margin-bottom: 5px;
    border: 3px solid #ccc;
}
.wpc-thumb-reel img {
    width: 100%;
    height: auto;
}
.wpc-post-meta-key {
    font-weight: bold;
    padding-right: 10px;
    text-transform: capitalize;
}
.wpc-the-meta li {
    list-style: none;
}
.wpc-the-meta span {
    width: 118px;
    display: block;
    float: left
}
#slideshow-2 {
    float: left;
}
.wpc_page_link_disabled {
    color: #fff;
    display: block;
    float: left;
    height: 30px;
    line-height: 30px;
    margin: 0 2px;
    text-align: center;
    text-decoration: none;
    width: 30px;
}
.wpc-paginations a.wpc_page_link_next {
    color: #fff;
    display: block;
    float: left;
    line-height: 30px;
    margin: 0 2px;
    text-align: center;
    text-decoration: none;
    background-color: #82396C;
    text-transform: capitalize;
    width: 50px;
}
.wpc-paginations a.wpc_page_link_previous {
    color: #fff;
    display: block;
    float: left;
    line-height: 30px;
    margin: 0 2px;
    text-align: center;
    text-decoration: none;
    background-color: #82396C;
    text-transform: capitalize;
    width: 76px;
}
.wpc-paginations .wpc_page_last_dot {
    float: left;
    font-size: 16px;
    font-weight: bold;
    padding: 4px 4px 0;
}

.entry-content code{
    line-height: inherit !important;
}
#wpc-col-1 ul li a{
    line-height: 35px !important;
}
ul.wpc-categories ul {
    display: none;
}
.switch {
    cursor: pointer;
    display: inline-block;
    font-size: 17px;
    height: 16px;
    line-height: 16px;
    position: absolute;
    right: 20px;
    text-align: center;
    top: 19px;
    width: 16px;
}
#wpc-col-1 ul.children ul li a {
    padding-left: 44px !important;
}
.wpc_sidebar_tags {
    height: auto;
    margin-top: 30px;
    width: 100%;
}
.wpc_sidebar_tags h2 {
    font-weight: normal;
    margin: 0px 0px 14px !important;
    font-size: 25px !important;
    border-bottom: 1px solid #EBEBEB;
    color: #3D484E;
    padding-bottom: 8px;
}
.wpc_all_products {
    border-bottom: 1px solid #EBEBEB;
}

/* Visibilties */
.wpc-visible-phone {
    visibility: hidden;
    display: none;
}
.visible-desktop {
    visibility: visible;
}

/* ============================= */
/* ! Layout for phone version   */
/* ============================= */

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .wpc-visible-phone {
        visibility: visible;
        display: inherit;
    }
    .visible-desktop {
        visibility: hidden;
        display: none;
    }
    .wp-catalogue-breadcrumb {
        padding: 0 0 40px;
    }
    #wpc-col-1 {
        float: left;
        line-height: inherit;
        width: 197px;
        margin-right:0 !important;
    }
    .wpc-categories {
        margin: 0;
        padding: 0;
        list-style: none;
        line-height: inherit;
        width: 197px !important;
        border-right: 1px solid #ebebeb;
    }
    #wpc-col-1 ul li a {
        display: block;
        color: #3d484e;
        font-size: 16px;
        text-decoration: none;
        padding: 13px 30px 13px 21px;
        background: url(images/sidebar-sprtr.gif) repeat-y 218px 0;
        text-transform: capitalize;
        border-bottom: 1px solid #ebebeb;
    }
    #wpc-col-2 {
        float:none !important;
        width: 475px;
        overflow:hidden;
        margin:0 auto;
        padding-left:20px;
    }
    #wpc-col-2 br {
        display:none;
    }
    #wpc-col-2 .entry-content p br {
        display:block;
    }
    .checking {
        display: none;
    }
    .product-img-view {
        border: 5px solid #DCDBDB;
        float: none;
        margin: 0 14px 15px 0;
        overflow: hidden;
        width:462px !important;
    }
    .wpc-product {
        width: 45%;
    }
    .wpc-product-img {
        float: none;
        overflow: hidden;
        width: 475px;
    }
    .new-prdct-img {
        border: 4px solid #DCDBDB;
        float: left;
        font-size: 0;
        line-height: 0;
        margin-bottom: 8px;
        margin-right: 4px;
        width: 146px;
    }
    .new-prdct-img img {
        width:146px;
    }
    .entry-content ul li:before {
        content:  none !important;
        padding-right: 0.5em;
    }
    #cycle-2 {
        width: 161px;
        margin: 0 auto;
    }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
    .wpc-visible-phone {
        visibility: visible;
        display: inherit;
    }
    .checking {
        background: url("images/drop-down-bg.png") no-repeat scroll right center #000;
        color: #fff;
        display: block;
        font-size: 18px;
        padding: 12px 0 13px 3%;
        text-decoration: none;
        width: 97%;
    }
    #wpc-catalogue-wrapper {
        overflow: hidden;
    }
    #wpc-col-1 {
        float: none;
        line-height: inherit;
        margin: 0 auto 20px;
        width: 100%;
    }
    .wpc-expand, .wpc-collapse {
        margin-top: 3px;
    }
    #wpc-col-1 ul {
        border-left: 1px solid #ebebeb;
        border-right: 1px solid #ebebeb;
        display: none;
        width: 99.6% !important;
    }
    #wpc-col-2 {
        margin: 0 auto;
        overflow: hidden;
        padding-left: 0 !important;
        text-align: center;
        width: 100%;
    }
    #wpc-col-1 ul li a {
        background:none;
        font-size: 15px;
        line-height: 22px !important;
    }
    .product-img-view {
        border: 5px solid #dcdbdb;
        float: none;
        height: 350px !important;
        margin: 0 auto 15px;
        overflow: hidden;
        width: 417px !important;
    }
    .product-img-view img {
        width: 417px !important;
    }
    .wpc-product-img {
        float: none;
        margin-left: 1px;
        overflow: hidden;
        width: 158px;
    }
    .new-prdct-img {
        border: 3px solid #DCDBDB;
        float: left;
        font-size: 0;
        line-height: 0;
        margin:0px 3px 8px 0px;
        width: 134px;
    }
    .new-prdct-img img {
        width:134px;
    }
    .wpc-product {
        border-bottom: 1px solid #c7c7c7;
        display: inline-block;
        float: none;
        margin: 0 8px 27px;
        width: 204px;
    }
    .wpc-img {
        width:195px !important;
    }
    .wpc-title {
        width:195px !important;
    }
    #slideshow-2 {
        float: none;
        margin: 0 auto;
        width: 158px;
    }
    .wpc-paginations {
        clear: both;
        padding: 0;
        text-align: center;
    }
    .wpc-paginations a {
        display: inline-block;
        float: none;
    }
}
@media screen and (min-width: 361px) and (max-width: 480px) {
    .wpc-visible-phone {
        visibility: visible;
        display: inherit;
    }
    .checking {
        background: url("images/drop-down-bg.png") no-repeat scroll right center #000000;
        color: #fff;
        display: block;
        font-size: 18px;
        padding: 9px 0 11px 19px;
        text-decoration: none;
        width: 250px;
    }
    #wpc-col-2 {
        float: none;
        margin: 0 auto !important;
        padding-left: 0 !important;
        width: 270px;
    }
	   
    #wpc-col-1 ul li a {
        background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
        font-size: 15px;
        line-height: 22px !important;
    }
    .wpc-expand, .wpc-collapse {
        margin-top: 3px;
    }
    .wpc-product {
        border-bottom: 1px solid #c7c7c7;
        float: none;
        margin: 0 auto 25px;
        width: 222px;
    }
    .product-img-view {
        border: 5px solid #DCDBDB;
        float: none;
        height: 240px !important;
        margin: 0 0 15px;
        overflow: hidden;
        width: 260px !important;
    }
    .wpc-product-img {
        float: none;
        margin-left: 6px !important;
        overflow: hidden;
        width: 265px;
    }
    .product-img-view img {
        height: 240px;
        width: 260px !important;
    }
    .new-prdct-img {
        border: 3px solid #DCDBDB;
        float: left;
        font-size: 0;
        height: 70px;
        line-height: 0;
        margin: 0 3px 5px 0;
        width: 77px;
    }
    .new-prdct-img img {
        height: 70px;
        width: 77px;
    }
    #wpc-col-1 {
        float: none;
        line-height: inherit;
        margin: 0 auto 25px !important;
        width: 269px;
    }
    #wpc-col-1 ul {
        border-left: 1px solid #EBEBEB;
        border-right: 1px solid #EBEBEB;
        display: none;
        width: 267px !important;
    }
    #wpc-catalogue-wrapper h4 {
        color: #999999;
        font-size: 20px;
        font-weight: normal;
        margin-bottom: 20px;
        width: 280px !important;
    }
    #wpc-product-gallery {
    }
    .wpc-title {
        width:210px !important;
    }
    #cycle-2 {
        width: 161px;
        margin: 0 auto;
    }
    .wp-catalogue-breadcrumb a {
        display: inline-block;
        margin: 0 0 10px 0;
    }
    .wpc-paginations {
        clear: both;
        padding: 0;
        text-align: center;
    }
    .wpc-paginations a {
        display: inline-block;
        float: none;
    }
}
@media screen and (min-width: 320px) and (max-width: 360px) {
    .wpc-visible-phone {
        visibility: visible;
        display: inherit;
    }
    .checking {
        background: url("images/drop-down-bg.png") no-repeat scroll right center #000000;
        color: #fff;
        display: block;
        font-size: 18px;
        padding: 9px 0 11px 19px;
        text-decoration: none;
        width: 250px;
    }
    #wpc-col-2 {
        float: none;
        margin: 0 auto !important;
        padding-left: 0 !important;
        width: 270px;
    }

    #wpc-col-1 ul li a {
        background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
        font-size: 15px;
        line-height: 22px !important;
    }
    .wpc-expand, .wpc-collapse {
        margin-top: 3px;
    }
    .wpc-product {
        border-bottom: 1px solid #c7c7c7;
        float: none;
        margin: 0 auto 25px;
        width: 222px;
    }
    .product-img-view {
        border: 5px solid #DCDBDB;
        float: none;
        height: 240px !important;
        margin: 0 0 15px;
        overflow: hidden;
        width: 260px !important;
    }
    .wpc-product-img {
        float: none;
        margin-left: 6px !important;
        overflow: hidden;
        width: 265px;
    }
    .product-img-view img {
        height: 240px;
        width: 260px !important;
    }
    .new-prdct-img {
        border: 3px solid #DCDBDB;
        float: left;
        font-size: 0;
        height: 70px;
        line-height: 0;
        margin: 0 3px 5px 0;
        width: 77px;
    }
    .new-prdct-img img {
        height: 70px;
        width: 77px;
    }
    #wpc-col-1 {
        float: none;
        line-height: inherit;
        margin: 0 auto 25px !important;
        width: 269px;
    }
    #wpc-col-1 ul {
        border-left: 1px solid #EBEBEB;
        border-right: 1px solid #EBEBEB;
        display: none;
        width: 267px !important;
    }
    #wpc-catalogue-wrapper h4 {
        color: #999999;
        font-size: 20px;
        font-weight: normal;
        margin-bottom: 20px;
        width: 280px !important;
    }
    #wpc-product-gallery {
    }
    .wpc-title {
        width:210px !important;
    }
    #cycle-2 {
        width: 161px;
        margin: 0 auto;
    }
    .wp-catalogue-breadcrumb a {
        display: inline-block;
        margin: 0 0 10px 0;
    }
    .wpc-paginations {
        clear: both;
        padding: 0;
        text-align: center;
    }
    .wpc-paginations a {
        display: inline-block;
        float: none;
    }
}